.slds-tile__title {
    display: flex;
    align-items: center;
}

.stats-detail .stats-copy-link {
    visibility: hidden;
    padding-left: 0.25rem;
}

.stats-detail:hover .stats-copy-link {
    visibility: visible;
}
