.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(auto, 30%) minmax(30%, max-content);
    gap: 0 0.25rem;

    & .grid-item {
        white-space: nowrap;
        overflow: hidden;
        display: flex;
    }

    & .grid-item a {
        visibility: hidden;
        padding-left: 0.25rem;
    }

    & .grid-item:hover a {
        visibility: visible;
    }
}
