.container {
    display: flex;
    width: 100%;
    height: 15rem;
    transition: all 0.3s ease;
}

.panel {
    transition: width 0.4s ease;
    overflow: hidden;
    /*border: 1px solid limegreen;*/
}

.collapsed {
    width: 10%;
}

.expanded {
    width: 80%;
}
