# Project folders
.vscode/
.idea/
.sf/
.sfdx/
node_modules/
IlluminatedCloud/
coverage/
sfdx-auth/
logs/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Project files
manifests/package.xml

# Custom file exclusions
**/profilePasswordPolicies
**/profiles
**/profileSessionSettings
**/lwc/playground/
**/classes/LoggerDemo.cls
**/classes/LoggerDemo.cls-meta.xml
**/settings/Security.settings-meta.xml
