# Project Folders
.localdev/
.vscode/
.idea/
.sf/
.sfdx/
bin/
node_modules/
IlluminatedCloud/
.illuminatedCloud/
testresults/
build/
coverage/
mdapi/
temp/
logs/
out/
target/
retrieved-src/
org_auth_files/

# Project Files
manifests/package.xml
**/jsconfig.json
**/tsconfig*.json
**/.eslintrc.json
**/*.tsbuildinfo
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env''
**/.env
**/.env''
.forceignore''
.DS_Store

# Default SFDX folder for pulled metadata
**/minlopro-default/default/
**/minlopro-default/main/

# CRM Analytics
**/minlopro-crma/.forceignore

# Hardis Plugin
config/user/
hardis-report/
