# General Salesforce Metadata & Components
**/certs/
**/connectedApps/
**/contentassets/
**/digitalExperiences/
**/documents/
**/duplicateRules/
**/dw/
**/email/
**/experiences/
**/externalClientApps/
**/externalServiceRegistrations/
**/extlClntAppGlobalOauthSets/
**/extlClntAppOauthPolicies/
**/extlClntAppOauthSettings/
**/flows/
**/flowtests/
**/layouts/
**/matchingRules/
**/networkBranding/
**/prompts/
**/reportTypes/
**/samlssoconfigs/
**/settings/
**/staticresources/
**/validationRules/
**/wave/

# GitHub Actions Configs
.github/actions/
.github/workflows/

# Static assets folder
assets/

# Excluded file extensions
**/*.sh
.env.manifest
.forceignore
.gitignore
.prettierignore
