# General Salesforce Medatada & Components
**/certs/
**/contentassets/
**/digitalExperiences/
**/documents/
**/dw/
**/email/
**/experiences/
**/layouts/
**/networkBranding/
**/reportTypes/
**/settings/
**/staticresources/
**/wave/

# GA workflows
.github/workflows/

# Static assets folder
assets/

# Excluded file exentsions
**/*.sh
.env.manifest
.forceignore
.gitignore
.prettierignore
