# General Salesforce Medatada & Components
**/certs/
**/contentassets/
**/digitalExperiences
**/experiences
**/layouts/
**/networkBranding/
**/staticresources/
**/documents/
**/email/
**/wave/

# Static assets folder
assets/

# Excluded file exentsions
**/*.sh
.env.manifest
.forceignore
.gitignore
.prettierignore
