.sms {
    width: 30rem;
}

.quick-text-card {
    background-color: white;
    border: 2px solid #0176d3;
    border-radius: 15px;
    cursor: pointer;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.quick-text-card:hover {
    background-color: #f3f9ff;
}
