/*
 * The stylesheet is imported by the components that follow:
 * - c-datatable
 *
 * LWC also supports nested CSS selectors - https://developer.mozilla.org/en-US/docs/Web/CSS/Nesting_selector
 */

.minlopro-custom-container {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: rgb(243, 243, 243);
}
