.error-details__container {
    & div {
        height: 5rem;
        max-width: 100%;
        overflow: hidden;

        & pre {
            margin: 0;
        }
    }

    & span:after {
        content: 'Show More';
    }

    &.expanded {
        & div {
            height: auto;
            max-height: 25rem;
            overflow: auto;
        }

        & span:after {
            content: 'Show Less';
        }
    }
}
