.space {
    height: 10rem;
    background-color: lightsalmon;
    border-radius: 50px;
    margin: 0 0.7rem;
}

/* LWC Nested CSS Demo */

.my-container {
    .space {
        height: 5rem;
        background-color: lightsteelblue;
        border-radius: 5px;
        margin: 0 0.7rem;
    }
}
